

    {% extends 'nyapeking/base.html' %}

    {% block title %}Booking - {{restaurant.name}} {% endblock %}

    {% block beforehead %}
        <!--<script>-->
            <!--var timepicker = $.UIkit.timepicker(element, { /* options */ });-->
        <!--</script>-->
            {% load staticfiles %}
            <script src="{% static 'nyapeking/js/components/autocomplete.min.js' %}"></script>
            <script src="{% static 'nyapeking/js/components/form-select.min.js' %}"></script>
            <script src="{% static 'nyapeking/js/components/timepicker.min.js' %}"></script>
            <script src="{% static 'nyapeking/js/components/datepicker.min.js' %}"></script>
            <link rel="stylesheet" href="{% static 'nyapeking/css/components/datepicker.css' %}"/>
            <link rel="stylesheet" href="{% static 'nyapeking/css/components/form-select.css' %}"/>
            <link rel="stylesheet" href="{% static 'nyapeking/css/modal.css' %}"/>



    {% endblock %}

    {% block content %}


        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="uk-width-medium-1-1 uk-container-center">
        <h2>Welcome for Booking</h2>





        <div id="vmerror" class="uk-form-danger"> ${ err } </div>

        <div id="vmloading" class="uk-text-center">
            <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> ${ resp }</span>
        </div>

        <div id="vmbook">

           <form class="uk-form uk-form-stacked">

               {{ book_form.non_field_errors }}
               <div class="uk-form-row">

                   <label >{{book_form.fullname.label_tag}}</label>
                <div class="uk-form-controls">
                   <input v-model="book_form.fullname" type="text" class="uk-form-width-medium" name="{{ book_form.fullname.name }}" id="{{ book_form.fullname.id_for_label }}" >
                   </div>
               </div>
               <div class="uk-form-row">
                   {{ book_form.email.errors }}
                   <label for="{{ book_form.email.id_for_label }}">{{book_form.email.label_tag}}</label>
                   <!-- <p class="errors" v-show="!validation.email">Please provide a valid email address.</p> -->
                   <div class="uk-form-controls">
                       <input v-model="book_form.email" type="text" class="uk-form-width-medium" x-moz-errormessage="This is not a valid e-mail" required>
                   </div>
               </div>
               <div class="uk-form-row">
                   {{ book_form.phone.errors }}
                   <label for="{{ book_form.phone.id_for_label }}">{{book_form.phone.label_tag}}</label>
                   <div class="uk-form-controls">
                       <input v-model="book_form.phone" type="text" class="uk-form-width-medium" name="{{ book_form.phone.name }}" id="{{ book_form.phone.id_for_label }}" >
                   </div>
               </div>
               <div class="uk-form-row">
                   {{ book_form.seat.errors }}
                   <label for="{{ book_form.seat.id_for_label }}">{{book_form.seat.label_tag}}</label>
                   <div class="uk-form-controls">
                       <input v-model="book_form.seat" type="text" class="uk-form-width-medium" name="{{ book_form.seat.name }}" id="{{ book_form.seat.id_for_label }}" >
                   </div>
               </div>
               <div class="uk-form-row uk-form-select" data-uk-form-select>
                   {{ book_form.arrival_date.errors }}
                   {% if monday_error %}<p style="color:red"><strong>{{ monday_error }}</strong></p>{% endif %}

                   <label for="{{ book_form.arrival_date.id_for_label }}">{{book_form.arrival_date.label_tag}}</label>
                   <div class="uk-form-controls">
                       <input v-model="book_form.arrival_date" type="text" class="uk-form-width-medium" name="{{ book_form.arrival_date.name }}" id="{{ book_form.arrival_date.id_for_label }}" data-uk-datepicker="{format:'YYYY-MM-DD', minDate:0}">
                   </div>
               </div>
               <div class="uk-form-row">
                   {{ book_form.arrival_time.errors }}
                   <label for="{{ book_form.arrival_time.id_for_label }}">{{book_form.arrival_time.label_tag}}</label>
                   <div class="uk-form-controls">
                       <input v-model="book_form.arrival_time" type="text" class="uk-form-width-medium" name="{{ book_form.arrival_time.name }}" id="{{ book_form.arrival_time.id_for_label }}" data-uk-timepicker="{format:'24h', start:11, end:20}">
                   </div>
               </div>
               <!-- <input type="submit" value="Book" /> -->
               <div class="uk-form-row">
                   <div class="uk-form-controls">

                   <button v-on:click="booking()" class="uk-button" type="button">Book</button>
                   </div>
               </div>
           </form>
           <!-- <div id="app"> -->
             <!-- <button id="show-modal" v-on:click="showModal = true">Show Modal</button> -->
             <!-- use the modal component, pass in the prop -->
             <modal :show.sync="showModal">
               <!--
                 you can use custom content here to overwrite
                 default content
               -->
               <h3 slot="header">Booking Success!</h3>

             </modal>
           <!-- </div> -->
        </div>


        {% comment "old form" %}
         <div class="uk-grid" data-uk-grid-margin>

            <form action="{% url 'book' %}" method="post" class="uk-form">
                          {% csrf_token %}

                {{ book_form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ book_form.fullname.errors }}
                    <label for="{{ book_form.fullname.id_for_label }}">{{book_form.fullname.label_tag}}</label>
                    {{ book_form.fullname }}
                </div>
                <div class="fieldWrapper">
                    {{ book_form.email.errors }}
                    <label for="{{ book_form.email.id_for_label }}">{{book_form.email.label_tag}}</label>
                    {{ book_form.email }}
                </div>
                <div class="fieldWrapper">
                    {{ book_form.phone.errors }}
                    <label for="{{ book_form.phone.id_for_label }}">{{book_form.phone.label_tag}}</label>
                    {{ book_form.phone }}
                </div>
                <div class="fieldWrapper">
                    {{ book_form.seat.errors }}
                    <label for="{{ book_form.seat.id_for_label }}">{{book_form.seat.label_tag}}</label>
                    {{ book_form.seat}}
                    <!--<label for="{{ form.seat.id_for_label }}">CC yourself?</label>-->
                    <!--&lt;!&ndash;<select id="{{ form.seat.id_for_label }}" name="{{form.seat}}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<option name="{{form.seat}}" value="1">1</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;<option name="{{form.seat}}" value="2">2</option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--<select id="{{ form.seat.id_for_label }}" onchange="alert(this.value)">-->
                     <!--<option value="0">Select</option>-->
                     <!--<option value="8">text1</option>-->
                     <!--<option value="5">text2</option>-->
                     <!--<option value="4">text3</option>-->
                    <!--</select>-->
                </div>
                <div class="fieldWrapper uk-form-select" data-uk-form-select>
                    {{ book_form.arrival_date.errors }}
                    {% if monday_error %}<p style="color:red"><strong>{{ monday_error }}</strong></p>{% endif %}

                    <label for="{{ book_form.arrival_date.id_for_label }}">{{book_form.arrival_date.label_tag}}</label>
                    <input type="text" name="{{ book_form.arrival_date.name }}" id="{{ book_form.arrival_date.id_for_label }}" data-uk-datepicker="{format:'YYYY-MM-DD', minDate:1}">
                </div>
                <div class="fieldWrapper">
                    {{ book_form.arrival_time.errors }}
                    <label for="{{ book_form.arrival_time.id_for_label }}">{{book_form.arrival_time.label_tag}}</label>
                    <input type="text" name="{{ book_form.arrival_time.name }}" id="{{ book_form.arrival_time.id_for_label }}" data-uk-timepicker="{format:'24h', start:11, end:20}">
                </div>
                <input type="submit" value="Book" />
            </form>


            <!--<form action="{% url 'book' %}" method="post" class="uk-form uk-form-stacked">-->
                <!--{% csrf_token %}-->
                <!--{% for field in book_form %}-->
                    <!--<div>-->
                        <!--{{ field.errors }}-->
                        <!--{{ field.label_tag }} {{ field }}-->
                        <!--{% if field.label_tag == "Time:" %}-->
                        <!--<p class="help">aaa</p>-->
                        <!--{% endif %}-->
                    <!--</div>-->
                <!--<br>-->
                <!--{% endfor %}-->
                <!--<input type="submit" value="Order" />-->
            <!--</form>-->

            <!--<form action="{% url 'book' %}" method="post" class="uk-form uk-form-stacked">-->
                <!--{% csrf_token %}-->
                <!--{{ book_form.as_p }}-->
                <!--<input type="submit" value="Order" />-->
            <!--</form>-->

             </div>
        {% endcomment %}
    </div>



    <script type="x/template" id="modal-template">
      <div class="modal-mask" v-show="show" transition="modal">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>


            <button class="uk-button" onclick="window.location = '/';">
              OK
            </button>
          </div>
        </div>
      </div>
    </script>




    {% endblock %}

    {% block buttomscript %}

    <script>
    //////// vue code

    Vue.config.delimiters = ['${', '}']

    $('#vmloading').hide();
    $('#vmerror').hide();


    function check_input(data) {
        var emailRE = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

        if (data.fullname == '' ){
            vmerror.$data.err = 'Fullname not valid';
            $('#vmerror').show();
            return false
        }

        if (data.email == '' || !(emailRE.test(data.email))){
            vmerror.$data.err = 'Email not valid';
            $('#vmerror').show();
            return false
        }

        if (data.phone == '' || !$.isNumeric(data.phone) ){
            vmerror.$data.err = 'Phone not valid';
            $('#vmerror').show();
            return false
        }

        if (data.seat == ''  || !$.isNumeric(data.seat)){
            vmerror.$data.err = 'Number of Persons not valid';
            $('#vmerror').show();
            return false
        }

        var n = new Date( data.arrival_date );
        var w = n.getDay();
        // alert(w);
        if (w == {{ closed }}){
            vmerror.$data.err = 'Closed on the day you choose';
            $('#vmerror').show();
            return false
        }

        if (data.arrival_date == ''){
            vmerror.$data.err = 'Date not valid';
            $('#vmerror').show();
            return false
        }

        if (data.arrival_time == '' ){
            vmerror.$data.err = 'Time not valid';
            $('#vmerror').show();
            return false
        }

        $('#vmerror').hide();
        return true

    }

    var vmerror = new Vue({
        el: '#vmerror',
        data: {
            // book_form:{
              err: '',
        //   }
        },
    });

    var vmloading = new Vue({
        el: '#vmloading',
        data: {
            // book_form:{
              resp: 'Booking',
        //   }
        },
    });

    Vue.component('modal', {
      template: '#modal-template',
      props: {
        show: {
          type: Boolean,
          required: true,
          twoWay: true
        }
      },
    //   method: {
    //       gohome: function(){
    //           window.location = '/book_success';
    //       }
    //   }
    })

    // start app
    // var app = new Vue({
    //   el: '#app',
    //   data: {
    //     showModal: false
    //   }
    // });

    var vmbook = new Vue({
        el: '#vmbook',
        data: {
            book_form:{
              fullname: 'aaa',
              email: 's@a.com',
              phone: '123',
              seat: '2',
              arrival_date: '2016-08-22',
              arrival_time: '12:00',
          },
            showModal: false,
            resp: '',
        },


        // computed property for form validation state
    //   computed: {
    //     validation: function () {
    //       return {
    //         email: emailRE.test(this.email)
    //       }
    //     },
    //     isValid: function () {
    //       var validation = this.validation
    //       return Object.keys(validation).every(function (key) {
    //         return validation[key]
    //       })
    //     }
    // }

        methods: {
            booking: function(){
                // alert(csrftoken);
                var valid = check_input(vmbook.$data.book_form);

                if(valid){
                    // $('#vmloading').show();

                    var url = document.URL;
                    var par = document.createElement("a");
                    par.href = url;
                    //alert('/api/sina/' + this.stockcode + "/" + this.date + "/" + this.vol);

                    var resp = $.ajax(
                        {   type: 'POST',
                            url: '/api/bookings/',
                            headers: {
                               "X-CSRFToken": csrftoken,
                           },
                            data: JSON.stringify(vmbook.$data.book_form),
                            success: function(data, status){
                                // alert(status);

                            //   var respobj = JSON.parse( data );
                            //   alert('status');
                            //   var table_div = document.getElementById('divdatatable');
                            //   table_div.innerHTML = respobj.df;
                             // divdatatable.data_name = respobj.data_name
                              //divdatatable.df = respobj.df
                              //divdatatable.df = $(respobj.df);
                            //   $('#divdatatable').show();
                                // $('#loading').hide();
                                vmloading.$data.resp = JSON.stringify(data);
                                vmbook.$data.showModal = true;
                                // vmbook.$data.resp = JSON.stringify(data);
                                // window.location = '/book_success';
                                // $('#error').show();

                            },
                            error: function(resp,status,error){
                                // alert(req.responseText);
                                var respobj = $.parseJSON(resp.responseText);
                                vmerror.$data.err = respobj.message;
                                $('#vmerror').show();
                            }
                        }


                    );
                }

                //alert(resp.text);
              //alert(this.stockcode + "  " + this.date);
            }

        }
    });

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');



    </script>


    {% endblock %}
