<!DOCTYPE html>
<html lang="en-gb" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{.Title}}</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
<!--
    <link rel="stylesheet" href="static/dist/css/uikit.min.css">
    <link rel="stylesheet" href="static/dist/css/uikit.gradient.min.css">

        <script src="static/dist/js/uikit.min.js"></script>
        <script src="static/dist/js/plugins/vue.min.js"></script> -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_purple-pink.min.css">
        <link rel="stylesheet" href="static/dist/css/styleso.css">

    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <style>
      #view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
      }
      </style>


    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js"></script>
    <script src="https://npmcdn.com/vue@1.0.27/dist/vue.min.js"></script>

</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
   <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
     <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
       <div class="mdl-layout--large-screen-only mdl-layout__header-row">
       </div>
       <div class="mdl-layout--large-screen-only mdl-layout__header-row">
         <h3>Name &amp; {{.Title}}</h3>
       </div>
       <div class="mdl-layout--large-screen-only mdl-layout__header-row">
       </div>
       <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
         <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
         <a href="#features" class="mdl-layout__tab">Features</a>
         <a href="#features" class="mdl-layout__tab">Details</a>
         <a href="#features" class="mdl-layout__tab">Technology</a>
         <a href="#features" class="mdl-layout__tab">FAQ</a>
         <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
           <i class="material-icons" role="presentation">add</i>
           <span class="visuallyhidden">Add</span>
         </button>
       </div>
     </header>
     <main class="mdl-layout__content">
    <div class="mdl-layout__tab-panel is-active" id="overview">

         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
           <div class="mdl-card mdl-cell mdl-cell--12-col">
             <div class="mdl-card__supporting-text">
               <h4>Add New Word</h4>

               <div id="vmloading" class="uk-text-center">
                   <ul class="toc">
                       <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> ${ resp }</span>
                   </ul>
             </div>

               <div id="vmAddWord">

                   <div class="mdl-textfield mdl-js-textfield">
                    <!-- <input v-model="word" class="mdl-textfield__input" type="text"> -->
                    <input v-model="addWordForm.Se" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" >SE</label>
                  </div>
                  <br>
                  <div class="mdl-textfield mdl-js-textfield">
                   <!-- <input v-model="word" class="mdl-textfield__input" type="text"> -->
                   <input v-model="addWordForm.En" class="mdl-textfield__input" type="text">
                   <label class="mdl-textfield__label" >EN</label>
                 </div>
                 <br>
                 <div class="mdl-textfield mdl-js-textfield">
                  <!-- <input v-model="word" class="mdl-textfield__input" type="text"> -->
                  <input v-model="addWordForm.Cn" class="mdl-textfield__input" type="text">
                  <label class="mdl-textfield__label" >CN</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield">
                 <!-- <input v-model="word" class="mdl-textfield__input" type="text"> -->
                 <input v-model="addWordForm.Note" class="mdl-textfield__input" type="text">
                 <label class="mdl-textfield__label" >Note</label>
               </div>
                <br>
                 <!-- <div class="mdl-textfield mdl-js-textfield">
                  <input v-model="addWordForm.RecordType" class="mdl-textfield__input" type="text">
                  <label class="mdl-textfield__label" >Record Type</label>

                </div> -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select v-model="addWordForm.RecordType" class="mdl-textfield__input">
                        <option value="basic">Basic</option>
                        <option value="expression">Expression</option>
                        <option value="word">Word</option>
                    </select>
                </div>
                <br>

                <button v-on:click="addWord()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">Add</button>

               </div>

             </div>
             <div class="mdl-card__actions">
               <a href="#" class="mdl-button">Read our features</a>
             </div>
           </div>
           <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn4">
             <i class="material-icons">more_vert</i>
           </button>
           <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn4">
             <li class="mdl-menu__item">Lorem</li>
             <li class="mdl-menu__item" disabled>Ipsum</li>
             <li class="mdl-menu__item">Dolor</li>
           </ul>
         </section>

         <dialog class="mdl-dialog" id="addWordSuccessDia">
            <h4 class="mdl-dialog__title">Allow data collection?</h4>
            <div class="mdl-dialog__content">
              <p>
                Allowing us to collect data will let us get you the information you want faster.
              </p>
            </div>
            <div class="mdl-dialog__actions">
              <button type="button" class="mdl-button">Agree</button>
              <button type="button" class="mdl-button close">Disagree</button>
            </div>
          </dialog>

         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
           <div class="mdl-card mdl-cell mdl-cell--12-col">
             <div class="mdl-card__supporting-text">
               <h4>Look Up</h4>

               <div id="vmlookup">
                   <div class="mdl-textfield mdl-js-textfield">
                    <input v-model="word" class="mdl-textfield__input" type="text">
                    <label class="mdl-textfield__label" for="sample1">Type word here...</label>
                  </div>
                  <br>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="se">
                      <!-- <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked> -->
                      <input type="radio" id="se" class="mdl-radio__button" name="options" value="se" v-model="lan">
                      <span class="mdl-radio__label">Se</span>
                 </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="en">
                    <input type="radio" id="en" class="mdl-radio__button" name="options" value="en" v-model="lan">
                      <span class="mdl-radio__label">En</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cn">
                    <input type="radio" id="cn" class="mdl-radio__button" name="options" value="cn" v-model="lan">
                      <span class="mdl-radio__label">Cn</span>
                </label>
                   <!-- <div class="radio">
                       <input type="radio" id="se" value="se" v-model="lan">
                       <label for="se">Se</label>
                       <input type="radio" id="en" value="en" v-model="lan">
                       <label for="en">En</label>
                       <input type="radio" id="cn" value="cn" v-model="lan">
                       <label for="cn">Cn</label>

                   </div> -->
                   <br>
                   <br>
                   <button v-on:click="lookup()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">Look Up</button>



                   <br>
                   <br>

                   <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">SE</th>
                          <th class="mdl-data-table__cell--non-numeric">EN</th>
                          <th class="mdl-data-table__cell--non-numeric">CN</th>
                          <th class="mdl-data-table__cell--non-numeric">Note</th>
                          <th class="mdl-data-table__cell--non-numeric">Record Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="word in resp.Content">
                          <td class="mdl-data-table__cell--non-numeric">${ word.Se }</td>
                          <td class="mdl-data-table__cell--non-numeric">${ word.En } </td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.Cn }</td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.Note } </td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.RecordType }</td>
                        </tr>

                      </tbody>
                    </table>

                    <!-- <ul>
                        <li v-for="word in resp.Content">
                            ${ word.Se } ${ word.En } ${ word.Cn } ${ word.Note } ${ word.RecordType }
                        </li>
                    </ul> -->
                    <br>
                    <br>

                   <a href="${ resp.Previous }">Previous</a>
                   <a href="${ resp.Next }">Next</a>
               </div>

             </div>
             <div class="mdl-card__actions">
               <a href="#" class="mdl-button">Read our features</a>
             </div>
           </div>
           <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn4">
             <i class="material-icons">more_vert</i>
           </button>
           <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn4">
             <li class="mdl-menu__item">Lorem</li>
             <li class="mdl-menu__item" disabled>Ipsum</li>
             <li class="mdl-menu__item">Dolor</li>
           </ul>
         </section>


         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
           <div class="mdl-card mdl-cell mdl-cell--12-col">
             <div class="mdl-card__supporting-text">
               <h4>Word List</h4>


                   <div id="vmwordlist" >
                       <button v-on:click="getWords()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">Get Words</button>

                   <br>
                   <br>

                   <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric" >SE</th>
                          <th class="mdl-data-table__cell--non-numeric">EN</th>
                          <th class="mdl-data-table__cell--non-numeric">CN</th>
                          <th class="mdl-data-table__cell--non-numeric">Note</th>
                          <th class="mdl-data-table__cell--non-numeric">Record Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="word in resp.Content">
                          <td class="mdl-data-table__cell--non-numeric">${ word.Se }</td>
                          <td class="mdl-data-table__cell--non-numeric">${ word.En } </td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.Cn }</td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.Note } </td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.RecordType }</td>
                        </tr>

                      </tbody>
                    </table>
                    <!-- <ul>
                        <li v-for="word in resp.Content">
                            ${ word.Se } ${ word.En } ${ word.Cn } ${ word.Note } ${ word.RecordType }
                        </li>
                    </ul> -->
                    <br>
                    <br>



                   <a href="${ resp.Previous }">Previous</a>
                   <a href="${ resp.Next }">Next</a>
               </div>

             </div>
             <div class="mdl-card__actions">
               <a href="#" class="mdl-button">Read our features</a>
             </div>
           </div>
           <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn4">
             <i class="material-icons">more_vert</i>
           </button>
           <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn4">
             <li class="mdl-menu__item">Lorem</li>
             <li class="mdl-menu__item" disabled>Ipsum</li>
             <li class="mdl-menu__item">Dolor</li>
           </ul>
         </section>

         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">


                   <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric" >SE</th>
                          <th class="mdl-data-table__cell--non-numeric">EN</th>
                          <th class="mdl-data-table__cell--non-numeric">CN</th>
                          <th class="mdl-data-table__cell--non-numeric">Note</th>
                          <th class="mdl-data-table__cell--non-numeric">Record Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="word in resp.Content">
                          <td class="mdl-data-table__cell--non-numeric">${ word.Se }</td>
                          <td class="mdl-data-table__cell--non-numeric">${ word.En } </td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.Cn }</td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.Note } </td>
                          <td class="mdl-data-table__cell--non-numeric"> ${ word.RecordType }</td>
                        </tr>

                      </tbody>
                    </table>


                    <!-- <ul>
                        <li v-for="word in resp.Content">
                            ${ word.Se } ${ word.En } ${ word.Cn } ${ word.Note } ${ word.RecordType }
                        </li>
                    </ul> -->
                    <br>
                    <br>


         </section>

         <div class="android-screen-section mdl-typography--text-center">
           <a name="screens"></a>
           <div class="mdl-typography--display-1-color-contrast">Powering screens of all sizes</div>
           <div class="android-screens">
         <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
           <thead>
             <tr>
               <th class="mdl-data-table__cell--non-numeric">Material</th>
               <th>Quantity</th>
               <th>Unit price</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
               <td>25</td>
               <td>$2.90</td>
             </tr>
             <tr>
               <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
               <td>50</td>
               <td>$1.25</td>
             </tr>
             <tr>
               <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
               <td>10</td>
               <td>$2.35</td>
             </tr>
           </tbody>
         </table>
     </div>
 </div>


<br>
<br>
         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
           <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
             <i class="material-icons">play_circle_filled</i>
           </header>
           <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
             <div class="mdl-card__supporting-text">
               <h4>Features</h4>
               Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
             </div>
             <div class="mdl-card__actions">
               <a href="#" class="mdl-button">Read our features</a>
             </div>
           </div>
           <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
             <i class="material-icons">more_vert</i>
           </button>
           <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
             <li class="mdl-menu__item">Lorem</li>
             <li class="mdl-menu__item" disabled>Ipsum</li>
             <li class="mdl-menu__item">Dolor</li>
           </ul>
         </section>
         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
           <div class="mdl-card mdl-cell mdl-cell--12-col">
             <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
               <h4 class="mdl-cell mdl-cell--12-col">Details</h4>
               <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                 <div class="section__circle-container__circle mdl-color--primary"></div>
               </div>
               <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                 <h5>Lorem ipsum dolor sit amet</h5>
                 Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.
               </div>
               <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                 <div class="section__circle-container__circle mdl-color--primary"></div>
               </div>
               <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                 <h5>Lorem ipsum dolor sit amet</h5>
                 Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.
               </div>
               <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                 <div class="section__circle-container__circle mdl-color--primary"></div>
               </div>
               <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                 <h5>Lorem ipsum dolor sit amet</h5>
                 Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.
               </div>
             </div>
             <div class="mdl-card__actions">
               <a href="#" class="mdl-button">Read our features</a>
             </div>
           </div>
           <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
             <i class="material-icons">more_vert</i>
           </button>
           <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
             <li class="mdl-menu__item">Lorem</li>
             <li class="mdl-menu__item" disabled>Ipsum</li>
             <li class="mdl-menu__item">Dolor</li>
           </ul>
         </section>
         <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
           <div class="mdl-card mdl-cell mdl-cell--12-col">
             <div class="mdl-card__supporting-text">
               <h4>Technology</h4>
               Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
             </div>
             <div class="mdl-card__actions">
               <a href="#" class="mdl-button">Read our features</a>
             </div>
           </div>
           <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
             <i class="material-icons">more_vert</i>
           </button>
           <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn3">
             <li class="mdl-menu__item">Lorem</li>
             <li class="mdl-menu__item" disabled>Ipsum</li>
             <li class="mdl-menu__item">Dolor</li>
           </ul>
         </section>


         <section class="section--footer mdl-color--white mdl-grid">
           <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
             <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
           </div>
           <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
             <h5>Lorem ipsum dolor sit amet</h5>
             Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
           </div>
           <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
             <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
           </div>
           <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
             <h5>Lorem ipsum dolor sit amet</h5>
             Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
           </div>
         </section>
       </div>
       <div class="mdl-layout__tab-panel" id="features">
         <section class="section--center mdl-grid mdl-grid--no-spacing">
           <div class="mdl-cell mdl-cell--12-col">
             <h4>Features</h4>
             Minim duis incididunt est cillum est ex occaecat consectetur. Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
             <ul class="toc">
               <h4>Contents</h4>
               <a href="#lorem1">Lorem ipsum</a>
               <a href="#lorem2">Lorem ipsum</a>
               <a href="#lorem3">Lorem ipsum</a>
               <a href="#lorem4">Lorem ipsum</a>
               <a href="#lorem5">Lorem ipsum</a>
             </ul>

             <h5 id="lorem1">Lorem ipsum dolor sit amet</h5>
             Excepteur et pariatur officia veniam anim culpa cupidatat consequat ad velit culpa est non.
             <ul>
               <li>Nisi qui nisi duis commodo duis reprehenderit consequat velit aliquip.</li>
               <li>Dolor consectetur incididunt in ipsum laborum non et irure pariatur excepteur anim occaecat officia sint.</li>
               <li>Lorem labore proident officia excepteur do.</li>
             </ul>

             <p>
               Sit qui est voluptate proident minim cillum in aliquip cupidatat labore pariatur id tempor id. Proident occaecat occaecat sint mollit tempor duis dolor cillum anim. Dolore sunt ea mollit fugiat in aliqua consequat nostrud aliqua ut irure in dolore. Proident aliqua culpa sint sint exercitation. Non proident occaecat reprehenderit veniam et proident dolor id culpa ea tempor do dolor. Nulla adipisicing qui fugiat id dolor. Nostrud magna voluptate irure veniam veniam labore ipsum deserunt adipisicing laboris amet eu irure. Sunt dolore nisi velit sit id. Nostrud voluptate labore proident cupidatat enim amet Lorem officia magna excepteur occaecat eu qui. Exercitation culpa deserunt non et tempor et non.
             </p>
             <p>
               Do dolor eiusmod eu mollit dolore nostrud deserunt cillum irure esse sint irure fugiat exercitation. Magna sit voluptate id in tempor elit veniam enim cupidatat ea labore elit. Aliqua pariatur eu nulla labore magna dolore mollit occaecat sint commodo culpa. Eu non minim duis pariatur Lorem quis exercitation. Sunt qui ex incididunt sit anim incididunt sit elit ad officia id.
             </p>
             <p id="lorem2">
               Tempor voluptate ex consequat fugiat aliqua. Do sit et reprehenderit culpa deserunt culpa. Excepteur quis minim mollit irure nulla excepteur enim quis in laborum. Aliqua elit voluptate ad deserunt nulla reprehenderit adipisicing sint. Est in eiusmod exercitation esse commodo. Ea reprehenderit exercitation veniam adipisicing minim nostrud. Veniam dolore ex ea occaecat non enim minim id ut aliqua adipisicing ad. Occaecat excepteur aliqua tempor cupidatat aute dolore deserunt ipsum qui incididunt aliqua occaecat sit quis. Culpa sint aliqua aliqua reprehenderit veniam irure fugiat ea ad.
             </p>
             <p>
               Eu minim fugiat laborum irure veniam Lorem aliqua enim. Aliqua veniam incididunt consequat irure consequat tempor do nisi deserunt. Elit dolore ad quis consectetur sint laborum anim magna do nostrud amet. Ea nulla sit consequat quis qui irure dolor. Sint deserunt excepteur consectetur magna irure. Dolor tempor exercitation dolore pariatur incididunt ut laboris fugiat ipsum sunt veniam aute sunt labore. Non dolore sit nostrud eu ad excepteur cillum eu ex Lorem duis.
             </p>
             <p>
               Id occaecat velit non ipsum occaecat aliqua quis ut. Eiusmod est magna non esse est ex incididunt aute ullamco. Cillum excepteur sint ipsum qui quis velit incididunt amet. Qui deserunt anim enim laborum cillum reprehenderit duis mollit amet ad officia enim. Minim sint et quis aliqua aliqua do minim officia dolor deserunt ipsum laboris. Nulla nisi voluptate consectetur est voluptate et amet. Occaecat ut quis adipisicing ad enim. Magna est magna sit duis proident veniam reprehenderit fugiat reprehenderit enim velit ex. Ullamco laboris culpa irure aliquip ad Lorem consequat veniam ad ipsum eu. Ipsum culpa dolore sunt officia laborum quis.
             </p>

             <h5 id="lorem3">Lorem ipsum dolor sit amet</h5>

             <p id="lorem4">
               Eiusmod nulla aliquip ipsum reprehenderit nostrud non excepteur mollit amet esse est est dolor. Dolore quis pariatur sit consectetur veniam esse ullamco duis Lorem qui enim ut veniam. Officia deserunt minim duis laborum dolor in velit pariatur commodo ullamco eu. Aute adipisicing ad duis labore laboris do mollit dolor cillum sunt aliqua ullamco. Esse tempor quis cillum consequat reprehenderit. Adipisicing proident anim eu sint elit aliqua anim dolore cupidatat fugiat aliquip qui.
             </p>
             <p id="lorem5">
               Nisi eiusmod esse cupidatat excepteur exercitation ipsum reprehenderit nostrud deserunt aliqua ullamco. Anim est irure commodo eiusmod pariatur officia. Est dolor ipsum excepteur magna aliqua ad veniam irure qui occaecat eiusmod aute fugiat commodo. Quis mollit incididunt amet sit minim velit eu fugiat voluptate excepteur. Sit minim id pariatur ex cupidatat cupidatat nostrud nostrud ipsum.
             </p>
             <p>
               Enim ea officia excepteur ad veniam id reprehenderit eiusmod esse mollit consequat. Esse non aute ullamco Lorem aliqua qui dolore irure eiusmod aute aliqua proident labore aliqua. Ipsum voluptate voluptate exercitation laborum deserunt nulla elit aliquip et minim ex veniam. Duis cupidatat aute sunt officia mollit dolor ad elit ad aute labore nostrud duis pariatur. In est sint voluptate consectetur velit ea non labore. Ut duis ea aliqua consequat nulla laboris fugiat aute id culpa proident. Minim eiusmod laboris enim Lorem nisi excepteur mollit voluptate enim labore reprehenderit officia mollit.
             </p>
             <p>
               Cupidatat labore nisi ut sunt voluptate quis sunt qui ad Lorem esse nisi. Ex esse velit ullamco incididunt occaecat dolore veniam tempor minim adipisicing amet. Consequat in exercitation est elit anim consequat cillum sint labore cillum. Aliquip mollit laboris ad labore anim.
             </p>
           </div>
         </section>
       </div>
       <footer class="mdl-mega-footer">
         <div class="mdl-mega-footer--middle-section">
           <div class="mdl-mega-footer--drop-down-section">
             <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
             <h1 class="mdl-mega-footer--heading">Features</h1>
             <ul class="mdl-mega-footer--link-list">
               <li><a href="#">About</a></li>
               <li><a href="#">Terms</a></li>
               <li><a href="#">Partners</a></li>
               <li><a href="#">Updates</a></li>
             </ul>
           </div>
           <div class="mdl-mega-footer--drop-down-section">
             <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
             <h1 class="mdl-mega-footer--heading">Details</h1>
             <ul class="mdl-mega-footer--link-list">
               <li><a href="#">Spec</a></li>
               <li><a href="#">Tools</a></li>
               <li><a href="#">Resources</a></li>
             </ul>
           </div>
           <div class="mdl-mega-footer--drop-down-section">
             <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
             <h1 class="mdl-mega-footer--heading">Technology</h1>
             <ul class="mdl-mega-footer--link-list">
               <li><a href="#">How it works</a></li>
               <li><a href="#">Patterns</a></li>
               <li><a href="#">Usage</a></li>
               <li><a href="#">Products</a></li>
               <li><a href="#">Contracts</a></li>
             </ul>
           </div>
           <div class="mdl-mega-footer--drop-down-section">
             <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
             <h1 class="mdl-mega-footer--heading">FAQ</h1>
             <ul class="mdl-mega-footer--link-list">
               <li><a href="#">Questions</a></li>
               <li><a href="#">Answers</a></li>
               <li><a href="#">Contact us</a></li>
             </ul>
           </div>
         </div>
         <div class="mdl-mega-footer--bottom-section">
           <div class="mdl-logo">
             More Information
           </div>
           <ul class="mdl-mega-footer--link-list">
             <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
             <li><a href="#">Help</a></li>
             <li><a href="#">Privacy and Terms</a></li>
           </ul>
         </div>
       </footer>
     </main>
   </div>



    <script>
        Vue.config.delimiters = ['${', '}']

        $('#vmloading').hide();

        var vmloading = new Vue({
            el: '#vmloading',
            data: {
                // book_form:{
                  resp: '',
            //   }
            },
        });

        var vmlookup = new Vue({
            el: '#vmlookup',
            data: {
                word: '',
                lan: 'se',
                resp: {
                    Content: [],
                    Next: '',
                    Previous: '',
                }
            },

            methods: {
                lookup: function() {
                    // alert('abc');
                    var url = document.URL;
                    var par = document.createElement("a");
                    par.href = url;
                    //alert('/api/sina/' + this.stockcode + "/" + this.date + "/" + this.vol);
                    var resp = $.ajax({
                        type: 'GET',
                        url: '/lookup/' + vmlookup.$data.lan + "/" + vmlookup.$data.word,
                        headers: {
                            //    "X-CSRFToken": csrftoken,
                            'Accepted': 'application/json',
                        },
                        // data: JSON.stringify(vmAddWord.$data.addWordForm),
                        success: function(data, status) {
                            // alert(data);

                            var resp_data = JSON.parse(data);
                            // alert(JSON.stringify(resp_data));
                            // alert(resp_data);

                            vmlookup.$data.resp = resp_data;

                        },
                        error: function(resp, status, error) {
                            // alert(req.responseText);
                            var respobj = $.parseJSON(resp.responseText);
                            // vmerror.$data.err = respobj.message;
                            // $('#vmerror').show();
                        }
                    });
                }
            }
        })

        var vmwordlist = new Vue({
            el: '#vmwordlist',
            data: {
                resp: {
                    Content: [],
                    Next: '',
                    Previous: '',
                }
            },

            methods: {
                getWords: function() {
                    // alert('abc');
                    var url = document.URL;
                    var par = document.createElement("a");
                    par.href = url;
                    //alert('/api/sina/' + this.stockcode + "/" + this.date + "/" + this.vol);
                    var resp = $.ajax({
                        type: 'GET',
                        url: '/word',
                        headers: {
                            //    "X-CSRFToken": csrftoken,
                            'Accepted': 'application/json',
                        },
                        // data: JSON.stringify(vmAddWord.$data.addWordForm),
                        success: function(data, status) {

                            var resp_data = JSON.parse(data);
                            // alert(JSON.stringify(resp_data));
                            // alert(resp_data);
                            vmwordlist.$data.resp = resp_data;

                        },
                        error: function(resp, status, error) {
                            // alert(req.responseText);
                            var respobj = $.parseJSON(resp.responseText);
                            // vmerror.$data.err = respobj.message;
                            // $('#vmerror').show();
                        }
                    });
                }
            }
        })

        var addWordSuccessDialog = document.querySelector('dialog');

        var vmAddWord = new Vue({
            el: '#vmAddWord',
            data: {
                addWordForm: {
                    Se: '',
                    En: '',
                    Cn: '',
                    Note: '',
                    RecordType: '',
                },
                resp: '',
            },


            methods: {
                addWord: function() {
                    // alert(csrftoken);
                    // var valid = check_input(vmAddWord.$data.addWordForm);

                    // if(valid){
                    // $('#vmloading').show();

                    var url = document.URL;
                    var par = document.createElement("a");
                    par.href = url;
                    //alert('/api/sina/' + this.stockcode + "/" + this.date + "/" + this.vol);

                    var resp = $.ajax({
                            type: 'POST',
                            url: '/word',
                            headers: {
                                // "X-CSRFToken": csrftoken,
                            },
                            data: JSON.stringify(vmAddWord.$data.addWordForm),
                            success: function(data, status) {
                                // alert(status);

                                // var respobj = JSON.parse( data );
                                // alert('status ' + data);
                                //   var table_div = document.getElementById('divdatatable');
                                //   table_div.innerHTML = respobj.df;
                                // divdatatable.data_name = respobj.data_name
                                //divdatatable.df = respobj.df
                                //divdatatable.df = $(respobj.df);
                                //   $('#divdatatable').show();
                                // $('#loading').hide();
                                // vmloading.$data.resp = JSON.stringify(data);
                                // vmAddWord.$data.showModal = true;
                                // vmAddWord.$data.resp = JSON.stringify(data);
                                // window.location = '/book_success';
                                // $('#error').show();
                                vmAddWord.$data.addWordForm = {
                                    Se: '',
                                    En: '',
                                    Cn: '',
                                    Note: '',
                                    RecordType: '',
                                };
                                // addWordSuccessDialog.showModal();
                                $('#vmloading').show();
                                vmloading.$data.resp = JSON.stringify(data);
                            },
                            error: function(resp, status, error) {
                                // alert(req.responseText);
                                var respobj = $.parseJSON(resp.responseText);
                                // vmerror.$data.err = respobj.message;
                                // $('#vmerror').show();
                            }
                        }


                    );
                    // }

                    //alert(resp.text);
                    //alert(this.stockcode + "  " + this.date);
                }

            }
        });
    </script>

</body>

</html>
