

    {% extends 'nyapeking/base.html' %}

    {% block title %}Menu - Nya Peking{% endblock %}

    {% block content %}


        <div class="uk-width-medium-3-4">

            <!--<ul>-->
                <!--<li>{{ timestamp }}</li>-->
                <!--<li>{{ name }}</li>-->
                <!--<li>{{ address }}</li>-->
                <!--<li>{{ email }}</li>-->
            <!--</ul>-->
            {{ menu }}
        </div>

    <div class="uk-grid" data-uk-grid-margin>

        <div class="uk-width-medium-3-4">

            {% if categories %}
                <ul class="uk-list uk-list-striped">
                     {% for category in categories %}
                       <li> {{ category }} </li>
                    {% endfor %}

                </ul>
            {% else %}
                <p>No categories are available.</p>
            {% endif %}
        </div>
    </div>

    {% endblock %}
