

    {% extends 'nyapeking/base.html' %}

    {% block title %}Order - {{restaurant.name}} {% endblock %}

    {% block content %}


        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'order' %}" method="post">
        {% csrf_token %}
        {% for cate in categories %}
            <input type="radio" name="cate" id="cate{{forloop.counter}}" value="{{cate.id}}" />
            <label for="cate{{ forloop.counter }}">{{cate.name }}</label><br />
        {% endfor %}
        <input type="submit" value="Order" />
        </form>




    {% endblock %}

